{{!< default}}

{{#post}}
    <!-- POST -->
    <section class="main row">
        <article class="{{post_class}} post col-md-6 col-md-offset-3">
            <h1>{{title}}</h1>
            <p>{{content}}</p>
        </article>
    </section>
{{/post}}
